{
  "packages": [
    "{{ .chezmoi.sourceDir }}/pi-worktree-core",
    "{{ .chezmoi.sourceDir }}/pi-worktree-manager",
    "{{ .chezmoi.sourceDir }}/pi-task",
    "{{ .chezmoi.sourceDir }}/pi-loop-package",
    "git:github.com/obra/superpowers@v6.2.0",
    "{{ .chezmoi.sourceDir }}/pi-claude-bridge",
    "{{ .chezmoi.sourceDir }}/pi-messaging"
  ],
  "defaultThinkingLevel": "high"
}
